apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  DB_HOST: "postgres"
  DB_NAME: "data_factory_db"
  DB_USER: "admin"
---
apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  DB_PASS: "password" # Qui metti la password reale che usa Postgres
