apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  ports:
    - name: tcp-postgresql
      port: 5432
  selector:
    app: postgres
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  serviceName: "postgres"
  replicas: 3
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      securityContext: # <--- AGGIUNTO PER I PERMESSI RKE2
        fsGroup: 1001
      containers:
      - name: postgres
        image: bitnami/postgresql:15
        securityContext: # <--- AGGIUNTO PER L'UTENTE BITNAMI
          runAsUser: 1001
        env:
        - name: POSTGRESQL_USERNAME
          value: "admin"
        - name: POSTGRESQL_PASSWORD
          value: "password"
        - name: POSTGRESQL_DATABASE
          value: "data_factory_db"
        - name: POSTGRESQL_REPLICATION_MODE
          value: "master"
        - name: POSTGRESQL_REPLICATION_USER
          value: "repl_user"
        - name: POSTGRESQL_REPLICATION_PASSWORD
          value: "repl_password"
        - name: ALLOW_EMPTY_PASSWORD
          value: "yes"
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: postgres-storage
          mountPath: /bitnami/postgresql
  volumeClaimTemplates:
  - metadata:
      name: postgres-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: "local-path"
      resources:
        requests:
          storage: 1Gi
